/* styles.css */

.container {
    display: flex;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
}

.left {
    width: 20%;
    background-color: #233b6c; /* 紺色 */
    color: #ffffff; /* テキストカラーを白に設定 */
    text-align: center;
}

.right {
    width: 20%;
    background-color: #233b6c; /* 紺色 */
    color: #ffffff; /* テキストカラーを白に設定 */
    text-align: center;
}

.center {
    width: 60%;
    background-color: #f0f0f0; /* 背景色をグレーに設定 */
    color: #333333; /* テキストカラーを黒に設定 */
    text-align: center;
}

.title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}
